

.invoice-title-card{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
	
}
.invoice-preview-card{
	border: 1px solid rgb(227, 222, 222);
	margin-bottom: 1rem !important;
}
.highlight-status {
  color: #FF5733; 
  font-weight: bold; 
}

.highlight-pickup-status {
  color:#69cf88;
  font-weight: bold; 
}

.button-wrapper{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 5px;
	padding: 0 5px;
	border: 1px solid rgb(199, 198, 198);
	height: max-content;
	width: 120px;
	
	border-radius: 5px;

	.action-view{
		border: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	
		gap: 5px;
		padding: 5px;
		background-color: inherit;
		position: relative;
		color: rgb(96, 96, 96) !important;
font-size: 12px;
		&::after{
			content: "";
			position: absolute;
			height: 100%;
			width: 2px;
			right: -10px;
			background-color: rgb(225, 222, 222);
			top: 0;

		}
		a{
			font-size: 12px;
		}
	}

}